.container{
  position:sticky;
  top:0;
  margin: 0;
  max-width: 100%;
  z-index:100;
  background-color: #fff;
}

.header {
  height: 8vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: small;
  border-bottom: 1px solid #ccc; 
}

.scrolled{
  display: none;
}

.header-top {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
  padding: 2px 10px;
}

.mail-container {
  width: 40%;
}

.envelop{
    color: orangered;
    font-size: large;
    margin: -2px 8px;
}

.icon-container {
  width: 10%;
  font-size: large;
}

.topbar {
  height: 10vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 50px;
}

.logo {
  font-weight: 900;
}

.nav-links a {
  text-decoration: none;
  color: #000;
  margin-left: 15px;
  font-weight: 500;
  font-size: large;
  padding: 0 20px;
}

.nav-links a:hover  {
  color: orangered; 
}

.nav-links a:checked  {
    color: orangered;
  }
